body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}


h1{
    font-size: 65px;
    font-weight: 900;
    line-height: 10px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 24px;
    text-align: justify;
}
.top-head{
    margin-top: 100px;
    margin-left: 100px;
}
.color-tomato{
    color: #FB8B47;
}
.color-gray{
    color: gray;
}
.btn{
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(to right,#FB9149, #FE492E);
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
}

.about{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me{
    padding-top: 150px;
    margin-right: 100px;
}
.about-me p{
    margin-bottom: 60px;
}
.text-center{
    text-align: center;
}
.title{
    width: 60%;
    margin: 0 auto;
    color: gray;
}
.recipies{
    margin-left: 50px;
    margin-right: 50px;
}
.card{
    width: 43%;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 10px 10px 25px gray;
    border-radius: 30px;
}
.card img{
    width: 100%;
}
.card p{
    font-weight: 300;
}
.width-33{
    width: 33%;
    padding: 2% 8%;
}

.follower{
    
    box-shadow: 10px 10px 25px gray;
    border-radius: 30px;
    
}

.footer{
    background-color: #0B0D17;
    color: white;
    height: 250px;
    padding-top: 20px;
}
.footer p{
    font-weight: 100;
}