body{
    margin: 0;
    font-family: 'Finlandica', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}


h1{
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
p{
    font-size: 24px;
}
.top-head{
    margin-top: 100px;
    margin-left: 100px;
}
.color-tomato{
    color: rgb(240, 92, 65);
}
.btn{
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    display: inline-block;
}

.about{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me{
    padding-top: 150px;
}
.text-center{
    text-align: center;
}
.title{
    width: 60%;
    margin: 0 auto;
    color: gray;
}
.card{
    width: 80%;
    padding: 10px;
}